#logo {
  float: left;
}

#login {
    float: right;
}

header {
    margin-bottom: 10px;
    padding-bottom: 100px;
}

.navigation {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(10px); /* Verwendung des Blur-Filters */
    transition: backdrop-filter 0.1s ease; /* Übergangseffekt für den Filter */   
  }

.navigation:hover {
    backdrop-filter: blur(0px); /* Bei Hover keine Unschärfe */
  }
  
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
.navigation li {
    margin: 10px;
    padding-top: 5px;
    transition: background-color 0.3s ease;
  }
    
.navigation li a {
    text-decoration: none;
    color: white;
  }
  
.navigation li:hover a {
    color: rgb(44, 44, 44); /* Farbe für den Link, wenn über das <li> gehovert wird */
  }

body {
    background-color: 	#404040;
    margin: 0px;
}

.sectiontrending h1 {
  padding-left: 38px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-between;
  margin-bottom: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.figuret img {
  width: 350px;
  height: 150px;
}

.figuret figcaption {
  margin: 5px;
}

.abtrennung {
  background-color: #262626;
  color: white;
}

.abtrennungdiv {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-between;
  align-content: center;
  margin: 150px;
  text-align: center;
}

.sectionbestsellers h1{
  padding-left: 38px;
}

.bestsellers {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-between;
  margin-bottom: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.bestsellersfigure img {
  width: 350px;
  height: 150px;
}

.bestellersfigure figcaption {
  margin: 5px;
}