#logo {
  float: left;
}

#login {
    float: right;
}

header img {
  width: 100%;
  height: 500px;
}


.navigation {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(5px); /* Verwendung des Blur-Filters */
  transition: backdrop-filter 0.3s ease; /* Übergangseffekt für den Filter */    
  }

.navigation:hover {
    backdrop-filter: blur(0px); /* Bei Hover keine Unschärfe */
  }
  
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row ;
  }
  
.navigation li {
    margin: 10px;
    padding-top: 5px;
  }
    
.navigation li a {
    text-decoration: none;
    color: white;
  }
  
.navigation li:hover a {
    color: rgb(237, 111, 0); /* Farbe für den Link, wenn über das <li> gehovert wird */
  }

body {
    background-color: #333333;
    margin: 0px;
}

.sectiontrending h1 {
  padding-left: 38px;
}

.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.figuret img {
  aspect-ratio: 16/9;
  max-width: 400px;
  max-height: 225px;
  width: auto;
  height: auto;
  border-radius: 1rem;
}

.figuret img:hover{
  transform: scale(1.1);
  transition: 0,3s ease-in;
}

.figuret figcaption {
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.abtrennung {
  background-color: #1a1a1a;
  color: white;
}

#border {
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
  padding-left: 175px;
  padding-right: 175px;
}

.abtrennungdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly ;
  align-content: center;
  text-align: center;
}

.abtrennungfigure figcaption {
  justify-content: end;
}

.sectionbestsellers h1{
  padding-left: 38px;
}

.bestsellers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.bestsellersfigure img {
  width: 350px;
  height: 150px;
}

.bestellersfigure figcaption {
  margin: 5px;
}

.sectionreview h1{
  padding-left: 38px;
}

.divreview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.figurereview figcaption {
  width: 250px;
}

.signup {
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 50px;
  background-color: #666666;
}

footer {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  
  
}

footer p {
  margin-bottom: 0px;
  color: rgb(237, 111, 0);
}

.support {
display: flex;
flex-direction: column;
list-style-type: none;
justify-content: center;
}

.support  a {
  text-decoration: none;
  color: rgb(237, 111, 0);
}

.socialmedia {
  display: flex;
  flex-direction: row;
  list-style-type: none; 
  justify-content: right;
}

.socialmedia img {
  width: 50px;
  height: 50px;
}

.platform{
  display: flex;
  flex-direction: row;
  justify-content: left;
  list-style-type: none;
}
