#logo {
    float: left;
  }
  
  #login {
      float: right;
  }
  
  header {
      margin-bottom: 10px;
      padding-bottom: 100px;
  }
  
  .navigation {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; 
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      backdrop-filter: blur(5px); /* Verwendung des Blur-Filters */
      transition: backdrop-filter 0.3s ease; /* Übergangseffekt für den Filter */   
    }
  
  .navigation:hover {
      backdrop-filter: blur(0px); /* Bei Hover keine Unschärfe */
    }
    
  .navigation ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
  .navigation li {
      margin: 10px;
      padding-top: 5px;
      transition: background-color 0.3s ease;
    }
      
  .navigation li a {
      text-decoration: none;
      color: white;
    }
    
  .navigation li:hover a {
      color: rgb(44, 44, 44); /* Farbe für den Link, wenn über das <li> gehovert wird */
    }
  
  body {
      background-color: 	#404040;
      font-size: 20px;
      margin: 0px;
      text-align: start;

  }
  
    .figure {
    color: white;

}

    .figure h1{


}
    .figure p {


}

    .article {
    color: rgb(255, 255, 255);
}

    .article div {
    color: #fdfdfd;
    text-decoration: none;
}
    a {
        text-decoration: none;
        color: #ffffff; /* Set your desired text color */
    }
    
    a:hover {
        text-decoration: underline; /* Add underline on hover if needed */
    }
ul {
    list-style-type: none;
    font-size: 20px;
}